# Byte-compiled / optimized / DLL files
__pycache__/
*.py[co]

# Python: coverage reports
.coverage*

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/

# Environments
.env
.tox
